.container{
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 60px;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
}
#resultado{
    margin-bottom: 20px;
    width: 310px;
    height: 50px;
}